@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    background-color: #f9fafb;
    margin: 0;
    padding: 0;
}

.calendar-container {
    max-width: 100%;
    overflow-x: auto;
    padding: 1rem;
}

.calendar-container .fc-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.calendar-container .fc-toolbar-title {
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.calendar-container .fc-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.calendar-container .fc-button {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    min-width: 2.5rem;
}

.calendar-container .fc-button.fc-today-button {
    margin-top: 0.5rem;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: 0;
}

.rbc-time-slot.dropped-slot {
    background-color: rgb(237, 101, 59);
    transition: none;
}

@media (min-width: 768px) {
    .calendar-container {
        padding: 2rem;
    }

    .calendar-container .fc-toolbar {
        flex-wrap: nowrap;
    }

    .calendar-container .fc-toolbar-title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .calendar-container .fc-button-group {
        justify-content: flex-end;
    }

    .calendar-container .fc-button {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .calendar-container .fc-button.fc-today-button {
        margin-top: 0.5rem;
    }
}